<%- include head.ejs %>
<div class="profile">
	
	<div class="pure-u">
		<h1>Create a Listing</h1>
		<% if (message) { %>
			<div class="alert alert-danger">
				<%= message %>
				<% if (message.link.exists){ %>
						<br/><a  href='<%= message.link.path %>' target="_blank"> <%= message.link.text %></a> 
				<% } %>
			</div>
		<% } %>

		<div class="form-container">
			<form class="pure-form pure-form-aligned" action="/listing/new" method="post">
				<fieldset class="pure-from-fieldset paddL paddR">
					<input type="hidden" value="0" class="numHideInp"/>
					<div class="pure-control-group">
						<label for="name">Book Title</label>
						<input id="name" type="text" class="form-control" name="name"/>
					</div>
					
					<div class="pure-control-group">
						<label for="price">Price ($)</label>
						<input id="price" type="number" class="form-control" name="price"/>
					</div>
					
					<div class="pure-control-group">
						<label for="edition">Edition</label>
						<input id="edition" type="number" name="edition" placeholder="(optional)"/>
					</div>	
					
					<div class="pure-control-group">
						<label for="edition">Anything else?</label>
						<input id="extraInfo" type="text" name="extraInfo" placeholder="(optional)"/>
					</div>	

					<div class="pure-control-group">
						<label for="condition">Condition</label>
						<select class="form-control" name="condition" id="condition">
							<option>Like New</option>
							<option>Very Good</option>
							<option>Good</option>
							<option>Acceptable</option>
						</select>
					</div>
					
					<div></div>
					<div>
					<input type="hidden" value="0" class="numHideInp"/>
					<p class='pure-button' id='plus-course'>Add a course for this book</p>
					</div>
					<br/>
					<button type="submit" class="pure-button">Create</button>
					<br/>
				</fieldset>			
			</form>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../javascripts/vendor/jquery-ui/js/jquery-1.8.3.js" ></script>
<script type="text/javascript" src="../javascripts/vendor/jquery-ui/js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#plus-course").hide();
		$("button[type=submit]").attr("disabled", "disabled");

		var books = <%- JSON.stringify(titles) %>;
		$("#name").autocomplete({source: books});

		$("#name").focusout(function(){
			var found = false;
			//if the notification is not found add it and disable button
			if($("#addBook").length == 0) {
				for (var i = books.length - 1; i >= 0; i--) {
					if (books[i] == $(this).val()) {
						found = true;
						coursesByT = findCoursesByT($(this).val());
						toAddString = "<p>Courses Associated with this book: " + coursesByT + "</p>";
						console.log("It: " + coursesByT);
						console.log($(this).parent().parent()[0].childNodes[11]);
						$(this).parent().parent()[0].childNodes[11].innerHTML = ("<p>Courses Associated with this book: " + coursesByT);
						$("#plus-course").show();
					};
				};

				if(!found) {
					$(this).parent().append("<p id='addBook'>Title doesnt exist! <a href='/book/new' target='_blank'> [add book]</a></p>");
					$(this).parent().parent()[0].childNodes[11].innerHTML = "";
					$("#plus-course").hide();
					$("button[type=submit]").attr("disabled", "disabled");
				}  
			}
			// if the form is correct, remove the notification and enable button
			for (var i = books.length - 1; i >= 0; i--) {
				if (books[i] == $(this).val()) {
					found = true;
					$("#addBook").remove();
					$("button[type=submit]").removeAttr("disabled");
				};
			};
		});
	});

</script>
<script type="text/javascript" src="/javascripts/index.js"></script>
</html>