<!doctype html>
<html>
<head>
	<title>View Listings</title>
</head>
<body>
<a href="/">Home</a> <a href="/profile">Profile</a>
	<h1>View all Listings</h1>

	<table>
		<thead>
			<tr>
				<th>book name</th>
				<th>edition</th>
				<th>condition</th>
				<th>price</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<listings.length; i++) { %>
        		<tr>
            		<td> <%= listings[i].book.name%> </td>
            		<td> <%= listings[i].edition%> </td>
            		<td> <%= listings[i].condition%> </td>
            		<td> $<%= listings[i].price%> </td>
        		</tr>
    		<% } %>
		</tbody>
	</table>



	<% for(var i=0; i<listings.length; i++) { %>
        <h3>
            Name of book: <%= listings[i].book.name%> | Seller: <%= listings[i].seller%> | Price: <%= listings[i].price%>
        </h3>
    <% } %>
</body>
</html>