<%- include head.ejs %>
	<h2>My Listings</h2>
	<table class="pure-table">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Price</th>
	            <th>Edition</th>
	            <th>Condition</th>
	            
	        </tr>
	    </thead>

    	<tbody>
		<% for(var i=0; i<user.inventory.length; i++) { 
			if(user.inventory[i].status = "available"){   %>
	        <tr>
	        	<td>
	        		<%= user.inventory[i].book.name%>
	        	</td>
	        	<td>
	        		$<%= user.inventory[i].price%>
	        	</td>
	        	<td>
	        		<%= user.inventory[i].edition%>
	        	</td>
	        	<td>
	        		<%= user.inventory[i].condition%>
	        	</td>
	        	<td>
	        		<a class=​"btn-danger" href=​"#">​
	        			<i class="fa fa-trash-o fa-lg"></i>
	        			Delete 
	        		</a>​
	        	</td>
	        </tr>
	    <% }} %>
	    </tbody>
	</table>
</body>
</html>