<%- include head.ejs %>
<div class="profile">
	<% if(message){ %>
		<h3 class="alert"><%= message %></h3>
	<% } %> 
	<h1>My Listings</h1>

	<div class="pure-u-5-5">
		<table class="pure-table pure-table-horizontal">
	    	<thead>
	        	<tr>
	            	<th>Name</th>
	            	<th>Price</th>
	            	<th>Edition</th>
	            	<th>Condition</th>
	            	<th></th>
	        	</tr>
	    	</thead>

    		<tbody>
			<% for(var i=0; i<user.inventory.length; i++) { 
				if(user.inventory[i].status = "available"){   %>
	        	<tr>
	        		<td>
	        			<%= user.inventory[i].book.name%>
	        		</td>
	        		<td>
	        			$<%= user.inventory[i].price%>
	        		</td>
	        		<td>
	        			<%= user.inventory[i].edition%>
	        		</td>
	        		<td>
	        			<%= user.inventory[i].condition%>
	        		</td>
	        		<td>
	        			<form action="/listing/delete" method="post">
		            		<input type="hidden" name="id" value="<%= user.inventory[i]._id %>" />
		            		<button type="submit" class="alert"><i class="fa fa-trash-o fa-lg"></i>Delete </button>
		            	</form>
	        		</td>
	        	</tr>
	    	<% }} %>
	    	</tbody>
		</table>
	</div>
	<div class="pure-u-5-5">
		<h2>My Purchases</h2>
		<table class="pure-table pure-table-horizontal">
			<thead>
				<th>Book</th>
				<th>Price</th>
				<th>Seller</th>
				<th>Status</th>
			</thead>
		    <tbody>
		    <% for(var i=0; i<user.transactions.length; i++) { %>
		    	<tr>
		    		<td><%= user.transactions[i].listing.book.name%></td>
		    		<td>$<%= user.transactions[i].listing.price%></td>
		        	<td>
		        		<%= user.transactions[i].listing.seller%> 
		        	</td>
		        	<td>
		        		<%= user.transactions[i].status%>
		        	</td>
		        </tr>
		    
		    <% } %>
		    </tbody>
		</table>
	</div>
</div>
<%- include footer.ejs %>