<%- include head.ejs %>
<div class="profile">
	<h2>My Listings</h2>
	<table class="pure-table">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Price</th>
	            <th>Edition</th>
	            <th>Condition</th>
	            
	        </tr>
	    </thead>

    	<tbody>
		<% for(var i=0; i<user.inventory.length; i++) { 
			if(user.inventory[i].status = "available"){   %>
	        <tr>
	        	<td>
	        		<%= user.inventory[i].book.name%>
	        	</td>
	        	<td>
	        		$<%= user.inventory[i].price%>
	        	</td>
	        	<td>
	        		<%= user.inventory[i].edition%>
	        	</td>
	        	<td>
	        		<%= user.inventory[i].condition%>
	        	</td>
	        	<td>
	        		<a class=​"btn-danger" href=​"#">​
	        			<i class="fa fa-trash-o fa-lg"></i>
	        			Delete 
	        		</a>​
	        	</td>
	        </tr>
	    <% }} %>
	    </tbody>
	</table>
	<h2>My Purchases</h2>
	<table class="pure-table">
		<thead>
			<th>Book</th>
			<th>Price</th>
			<th>Seller</th>
			<th>Status</th>
		</thead>
	    <tbody>
	    <% for(var i=0; i<user.transactions.length; i++) { %>
	    	<tr>
	    		<td><%= user.transactions[i].listing.book.name%></td>
	    		<td>$<%= user.transactions[i].listing.price%></td>
	        	<td>
	        		<%= user.transactions[i].listing.seller%> 
	        	</td>
	        	<td>
	        		<%= user.transactions[i].status%>
	        	</td>
	        </tr>
	    	<%=user.transactions[i].listing%>
	    <% } %>
	    </tbody>
	</table>
</div>
<%- include footer.ejs %>