<%- include head.ejs %>
<div class="profile">
	<% if(message){ %>
		<h3 class="alert"><%= message %></h3>
	<% } %> 
	<h1>My Listings</h1>

	<div class="pure-u-5-5">
		<table class="pure-table pure-table-horizontal">
	    	<thead>
	        	<tr>
	            	<th>Name</th>
	            	<th>Price</th>
	            	<th>Edition</th>
	            	<th>Condition</th>
	            	<th></th>
	        	</tr>
	    	</thead>

    		<tbody>
			<% for(var i=0; i<user.inventory.length; i++) { 
				if(user.inventory[i].status = "available"){   %>
	        	<tr>
	        		<td>
	        			<%= user.inventory[i].book.name%>
	        		</td>
	        		<td>
	        			$<%= user.inventory[i].price%>
	        		</td>
	        		<td>
	        			<%= user.inventory[i].edition%>
	        		</td>
	        		<td>
	        			<%= user.inventory[i].condition%>
	        		</td>
	        		<td>
	        			<form action="/listing/delete" method="post">
		            		<input type="hidden" name="id" value="<%= user.inventory[i]._id %>" />
		            		<button type="submit" class="alert"><i class="fa fa-trash-o fa-lg"></i>Delete </button>
		            	</form>
	        		</td>
	        	</tr>
	    	<% }} %>
	    	</tbody>
		</table>
	</div>
	<div class="pure-u-5-5">
		<h2>My Purchases</h2>
		<table class="pure-table pure-table-horizontal">
			<thead>
				<th></th>
				<th>Book</th>
				<th>Price</th>
				<th>Seller</th>
				<th>Status</th>
			</thead>
		    <tbody>
		    <% console.log('Trans number: ' + user.transactions.length) %>
		    <div>
		    <% for(var i=0; i < user.transactions.length; i++) { %>
		    	<h3>
			    	<tr>
			    		<td>
			    			<% if(user.transactions[i].buyer == user.userName){ %>
			    				BUYER
			    			<% } else { %>
			    				SELLER
			    			<% } %>

			    		</td>
			    		<td><%= user.transactions[i].listing.book.name%></td>
			    		<td>$<%= user.transactions[i].listing.price%></td>
			        	<td>
			        		<%= user.transactions[i].listing.seller%> 
			        	</td>
			        	<td>
			        		<%= user.transactions[i].status%>
			        	</td>
			        </tr>
		    	</h3>
		    <% } %>
		    </div>
		    </tbody>
		</table>
	</div>
</div>

<div id="accordion">
  <h3>Section 1</h3>
  <div>
    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
  </div>
</div>

<div class="chatClient">boo</div>


<script type="text/javascript" src="/javascripts/vendor/jquery-ui/js/jquery-1.8.3.js" ></script>
<script type="text/javascript" src="/javascripts/vendor/jquery-ui/js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#accordion").accordion();
	});
</script>


</body>
</html>
