<%- include head.ejs %>
	<h2>My Listings</h2>
	<table>
		<tr>
	        <td>Book Name</td>
	        <td>Price</td>
	        <td>Edition</td>
	        <td>Condition</td>
	    </tr>


		<% for(var i=0; i<user.inventory.length; i++) { %>
	        <tr>
	        	<td>
	        		<%= user.inventory[i].book.name%>
	        	</td>
	        	<td>
	        		$<%= user.inventory[i].price%>
	        	</td>
	        	<td>
	        		<%= user.inventory[i].edition%>
	        	</td>
	        	<td>
	        		<%= user.inventory[i].condition%>
	        	</td>
	        </tr>
	    <% } %>
	</table>
</body>
</html>