<%- include head.ejs %>
<div class="profile">
	<% if(message){ %>
		<h3 class="alert"><%= message %></h3>
	<% } %> 
	<h1>My Listings</h1>

	<div class="pure-u-5-5">
		<table class="pure-table pure-table-horizontal">
	    	<thead>
	        	<tr>
	            	<th>Name</th>
	            	<th>Price</th>
	            	<th>Edition</th>
	            	<th>Condition</th>
	            	<th></th>
	        	</tr>
	    	</thead>

    		<tbody>
			<% for(var i=0; i<user.inventory.length; i++) { 
				if(user.inventory[i].status = "available"){   %>
	        	<tr>
	        		<td>
	        			<%= user.inventory[i].book.name%>
	        		</td>
	        		<td>
	        			$<%= user.inventory[i].price%>
	        		</td>
	        		<td>
	        			<%= user.inventory[i].edition%>
	        		</td>
	        		<td>
	        			<%= user.inventory[i].condition%>
	        		</td>
	        		<td>
	        			<form action="/listing/delete" method="post">
		            		<input type="hidden" name="id" value="<%= user.inventory[i]._id %>" />
		            		<button type="submit" class="alert pure-button"><i class="fa fa-trash-o fa-lg"></i> Delete </button>
		            	</form>
	        		</td>
	        	</tr>
	    	<% }} %>
	    	</tbody>
		</table>
	</div>
	<div >
		<h2>Transactions</h2>
		<table class="pure-table " >
			<thead>
				<th>Book Title</th>
				<th>Role</th>
				<th>Price</th>
				<th>Seller</th>
				<th>Status</th>
			</thead>
		    <% console.log('Trans number: ' + user.transactions.length) %>
		    <tbody>
		    	<% for(var i=0; i < user.transactions.length; i++) { %>
			    	<tr>
			    		<td><%= user.transactions[i].listing.book.name%></td>
			    		<td>
			    			<% if(user.transactions[i].buyer == user.userName){ %>
			    				BUYER
			    			<% } else { %>
			    				SELLER
			    			<% } %>

			    		</td>
			    		<td>$<%= user.transactions[i].listing.price%></td>
			        	<td>
			        		<%= user.transactions[i].listing.seller%> 
			        	</td>
			        	<td>
			        		<%= user.transactions[i].status%>
			        	</td>
			        </tr>
			       
			        <tr class="tContent">
			        	<td  colspan="100%">
			        		<div class="interaction">
			        			<div class="chat-log">
			        			<% if(user.transactions[i].transConv){
			        				for(j = 0; j < user.transactions[i].transConv.length; j++){ %>
			        				<h3><%= user.transactions[i].transConv[j].mContent %></h3>
			        				<% }} %>
			        				
			        			</div>
					        	<form class="pure-form" action="/transaction/addM" method="post">
					        		<fieldset>
					        			<input type="text" class="pure-input-2-3 message" name="message">
					        			<input type="hidden" class="pure-input-2-3 message" name="trans" value='<%= user.transactions[i]._id%>'>
					        			<button type="submit" class="pure-button">Send</button>
					        		</fieldset>
								</form>

								<button type="submit" class="pure-button message">Set meetup</button>
								


								<form class="pure-form pure-form-aligned" action="/transaction/addLT" method="post">
									<fieldset class="pure-from-fieldset">
										<div class="pure-control-group">
											<label for="name">Location</label>
											<input type="text" class="form-control" name="location"/>
										</div>
										
										<div class="pure-control-group">
											<label for="price">Time</label>
											<input type="string" class="form-control" name="time"/>
										</div>
										
										<div class="pure-control-group">
											<label for="time">Day</label>
											<input type="date" class="form-control datePic" name="day"/>
										</div>	
										<button type="submit" class="pure-button" >Suggest</button>
									</fieldset>			
								</form>
							</div>
						</td>
			        </tr>
		    	<% } %>
		    </tbody>
		</table>
	</div>
</div>




<script type="text/javascript" src="/javascripts/vendor/jquery-ui/js/jquery-1.8.3.js" ></script>
<script type="text/javascript" src="/javascripts/vendor/jquery-ui/js/jquery-ui-1.9.2.min.js"></script>

</body>

</html>
