<%- include head.ejs %>

<div class="profile">
	<% if (message) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<div class="pure-g">
		<div class="pure-u-1-2 l-box">
			<form class="pure-form pure-form-aligned" action="/listing/search/title" method="get">
				<fieldset>
					<div class="pure-control-group">
						<label>Book Title</label>
						<input type="text" class="form-control" name="q" id="title"/>
					</div>
					<button type="submit" class="pure-button">Search by Title</button>
				</fieldset>
			</form>
		</div>
		<div class="pure-u-1-2 l-box">
			<form class="pure-form pure-form-aligned" action="/listing/search/course" method="get">
				<fieldset>
					<div class="pure-control-group">
						<label>Course Department</label>
						<input type="text" class="form-control" name="department"/>
					</div>
					<div class="pure-control-group">
						<label>Course Number</label>
						<input type="number" class="form-control" name="number"/>
					</div>
					<button type="submit" class="pure-button">Search by Course</button>
				</fieldset>
			</form>
		</div>	
	</div>	
	<hr/>
	<table class="pure-table">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th>Edition</th>
	            <th>Condition</th>
	            <th>Seller</th>
	            <th>Price</th>
	            <th></th>
	        </tr>
	    </thead>

    	<tbody>
    	<% if(listings){ %>
			<% for(var i=0; i<listings.length; i++) { %>
				<% console.log('userName: ' + user.userName) %>
				<% if(listings[i].seller != user.userName){ %>
			        <tr>
			        	<td> <%= listings[i].book.name %></td>
			            <td> <%= listings[i].edition %>  </td>
			            <td> <%= listings[i].condition %></td>
			            <td> <%= listings[i].seller %>   </td>
			            <td> $<%= listings[i].price %>   </td>
			            <td> 
			            <form action="/transaction/postT" method="post">
			            	<input type="hidden" name="listing" value="<%= listings[i]._id %>" />
			            	<button type="submit" class="pure-button">Buy</button>
			            </form>
			            </td>
			        </tr>
			    <% } %>
		    <% } %>
		<% } %>    
	    </tbody>
	</table>
</div>
</body>
	<script type="text/javascript" src="/javascripts/vendor/jquery-ui/js/jquery-1.8.3.js" ></script>
	<script type="text/javascript" src="/javascripts/vendor/jquery-ui/js/jquery-ui-1.9.2.min.js"></script>
	<script type="text/javascript">
	$(function() {
		$("#title").autocomplete({source: <%- JSON.stringify(titles) %>});
	});
	</script>
</html>