<!doctype html>
<html>
<head>
	<title>Find a Book</title>
</head>
<body>
<a href="/">Home</a> <a href="/profile">Profile</a>
	<h1>Find a book</h1>


	<% if (message) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<form action="/listing/search/title" method="get">
		<div>
			<label>book title</label>
			<input type="text" class="form-control" name="q"/>
		</div>
		<button type="submit">Search by Title</button>
	</form>


	<form action="/listing/search/course" method="get">
		<div>
			<label>book title</label>
			<input type="text" class="form-control" name="q"/>
		</div>
		<button type="submit">Search by Title</button>
	</form>


	<table id="searchResults">
		<thead>
			<tr>
				<th>book name</th>
				<th>edition</th>
				<th>condition</th>
				<th>price</th>
			</tr>
		</thead>
		<tbody>
			<% if(listings){ %>
				<% for(var i=0; i<listings.length; i++) { %>
	        		<tr>
	            		<td> <%= listings[i].book.name%> </td>
	            		<td> <%= listings[i].edition%> </td>
	            		<td> <%= listings[i].condition%> </td>
	            		<td> $<%= listings[i].price%> </td>
	        		</tr>
	    		<% } %>
	    	<% } %>
		</tbody>
	</table>
</body>
</html>